[Unit]
Description=Automated Borg Backup: %i

[Service]
Type=oneshot

Environment=BORG_PASSCOMMAND='kwallet-query -r %i -f Borg kdewallet'
Environment=BORG_RSH='ssh -i /home/matthias/.config/borg/keys/borg'
Environment=PATTERN_FILE='/dev/null'
EnvironmentFile=/home/matthias/.config/borg/envs/%i.env

ExecStartPre=notify-send \
            --app-name "Borg Backup - %i" \
            --icon backup \
            --urgency=low \
            "Starting"

# borg exits with 2 if a backup failed, 1 normally just means a file permission error
SuccessExitStatus=1

SyslogIdentifier=borg
ExecStart=flock /home/matthias/.config/borg/scheduled.lock \
    borg create \
    --stats                            \
    --verbose                          \
    --one-file-system                  \
    --compression auto,zstd,3          \
    --exclude-caches                   \
    --patterns-from $PATTERN_FILE \
    --                   \
   $ARCHIVE \
   $REPO_PATH

ExecStopPost=bash -c ' \
    [ $EXIT_STATUS -eq 0 ] && \
        notify-send \
            --app-name "Borg Backup - %i" \
            --icon backup \
            --urgency=low \
            "Success" \
        || ( \
            [ $EXIT_STATUS -eq 1 ] && \
                notify-send \
                    --app-name "Borg Backup - %i" \
                    --icon backup \
                    --urgency=critical \
                    "Warning\n$(journalctl --user --unit borg-backup@%i.service --identifier borg --output cat --lines 1 --grep ^/)" \
                || \
                notify-send \
                    --app-name "Borg Backup - %i" \
                    --icon backup \
                    --urgency=critical \
                    "Failed\n$(journalctl --user --unit borg-backup@%i.service --identifier borg --output cat --lines 1)" \
        ) \
    '
[Install]
WantedBy=default.target
