[Unit]
Description=Automated Borg Backup: %i

[Service]
Type=oneshot

Environment=BORG_PASSCOMMAND='kwallet-query -r %i -f Borg kdewallet'
EnvironmentFile=/home/matthias/.config/borg/envs/%i.env

ExecStartPre=notify-send \
            --app-name "Borg Backup - %i" \
            --icon backup \
            --urgency=low \
            "Starting"

ExecStart=flock /home/matthias/.config/borg/scheduled.lock \
    borg create \
    --stats                            \
    --verbose                          \
    --one-file-system                  \
    --progress                         \
    --compression auto,zstd,3          \
   $ARCHIVE \
   $REPO_PATH

ExecStopPost=bash -c ' \
    [ $EXIT_STATUS -eq 0 ] && \
        notify-send \
            --app-name "Borg Backup - %i" \
            --icon backup \
            --urgency=low \
            "Success" \
        || \
        notify-send \
            --app-name "Borg Backup - %i" \
            --icon backup \
            --urgency=critical \
            "Failed\n$(journalctl --user --unit borg-backup@%i.service --identifier borg --output cat --lines 1)" \
    '
